.post {
  margin-top: 1rem;
  max-width: 550px;
}

body {
  background: #f1f1f1;
  margin: 0;
}

.preview-image {
  padding-top: 50%;
  margin: 0 1rem;
  height: 100px;
}

.light-text {
  font-size: .8rem;
  font-weight: 200;
}

.header-text {
  font-weight: 300;
}

.footer {
  background-color: #eceff1;
  justify-content: space-around;
}

.footer-button {
  font-weight: 200 !important;
  font-size: .6rem !important;
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}